.location {
    padding: 0.8rem;

    span {
        color: #2E9BAF;
    }

    iframe {
        margin-top: 1rem;
        width: 100%;
        height: 60rem
    }
}

@media only screen and (min-width: 600px) {

    .location {

        iframe {
            height: 40rem
        }
    }

}

