nav {
    background-color: #2E9BAF;
    position: absolute;
    margin: 0 -2000px;
    padding: 0 2000px;
    top: 0;
    width: 100%;
    z-index: 99;
    
    ul.menu{
        display: none;
    }


    button {
        font-size: 3rem;
        color: white;
        background-color: rgba(0, 0, 0, 0.2);
        border: solid 1px rgba(0, 0, 0, 0.3);
        width: 4rem;
        margin: 3px 2%;
        border-radius: 5px;
        
    }


    // ul.closed{display: none;}

    ul li a {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 1rem 2%;
        border-bottom: solid 1px rgba(0, 0, 0, 0.3);
    }

    ul li {
        background-color: #2E9BAF;
        display: block;
    }

    ul li ul li a {
        padding-left: 8%;
    }

    .active {
        background: darken(#2E9BAF, 10%);
    }

    .parent {
        background: darken(#2E9BAF, 10%);
    }

    form {
        float: right;
        display: flex;

        input {
            width: 120px;
            margin: 0.5rem 0;
            padding: 0.8rem;
            border: none;
            float: right;
            
        }
    
        #search {
            float: right;
            border: none;
            margin-left: -1px;
            cursor: pointer;
        }

    }



}

@media only screen and (min-width: 970px) {
    nav {
        position: relative;
        ul.closed {display: block;}
        display: flex;
        justify-content: space-between;

        form {
            display: flex;

            #search {
                display: block;
            }
        }
        
        button {
            display: none;
        }




        ul {
            margin-left: 2%;
            display: flex;
        }
        ul.menu{
            display: block;
            width: 100%;
            font-size: 1.4rem
        }

        ul li {
            list-style-type: none;
            display: inline-block;
            margin-right: -5px;
            
        }

        ul li a {
            border: none;
            border-right: 1px solid rgba(0, 0, 0, 0.2);
            padding: 1.25rem 1rem;
            transition: 0.3s linear;
            -webkit-transition: background 0.3s linear;
        }

        ul li a:hover {
            background-color: darken(#2E9BAF, 10%);
        }

        ul li ul {
            left: -999em;
            z-index: 99;
            background-color: #2E9BAF;
            position: absolute;
            width: 17.3rem;
        }

        ul li:hover ul {
            left: auto;
            margin-left: 0;
        }

        ul li ul li {
            float: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            width: 100%;
            display: block;
        }


    }

}

// @media only screen and (min-width: 624px) {
    
//     nav {

//         form {


//             input {
//                 width: 10rem;
//             }
//         }
//     }
// }

// @media only screen and (min-width: 745px) {

//     nav {

//         form {

//             input {
//                 width: 18rem;
//             }

//         }
//     }

// }