.news-content {
    padding: 0.8rem;

    a, a:link, a:visited, a:focus, a:hover, a:active{
        color:black;
        text-decoration: none; 
        cursor: pointer;
      }

    .date-post {
        background-color: #2E9BAF;
        float: left;
        margin: 0 1rem;
        padding: 1rem;

        h2{
           color: white;
           margin: 0;
           text-align: center;
        }
        p {
            color: white;
        }
    }

    .post-content-text {
        margin-left: 10rem;
        padding: 1rem;

        h3.news-title {
            font-size: 2rem;
            color: black;
        }
        .news-content-excerpt {
            margin-bottom: 1rem;

            .news-short-content {
                padding: 1rem 0;
            }
        }

    }

    a.news-more-link {
        color: #2E9BAF;
        cursor: pointer;
    }

}

.news_pagination {
    text-align: center;


    .page-numbers{
        text-decoration: none;
        color: black;

        .current {
            span {
                color: red;
            }
        }

    }
}

.newsImg{
    height: auto;
    width: 100%;
}

.newsContainer {
    padding: 0 0.8rem;
    p {
        margin-bottom: 4rem;
        
    }
}

@media only screen and (min-width: 620px) {
    .newsImg{
        float: right;
        width: 30rem;
        height: 20rem;
        padding: 2rem;
    }

}


