header {
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4.4rem;
}

header h1 {
  padding: 10px 0;
}

header h1 span {
  font-weight: 100;
}

header img {
  height: 80px;
  padding: 10px;
}

header a {
  margin-left: auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-decoration: none;
  color: black;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 970px) {
  header {
    margin-top: 0;
  }
}

nav {
  background-color: #2E9BAF;
  position: absolute;
  margin: 0 -2000px;
  padding: 0 2000px;
  top: 0;
  width: 100%;
  z-index: 99;
}

nav ul.menu {
  display: none;
}

nav button {
  font-size: 3rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  border: solid 1px rgba(0, 0, 0, 0.3);
  width: 4rem;
  margin: 3px 2%;
  border-radius: 5px;
}

nav ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 1rem 2%;
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
}

nav ul li {
  background-color: #2E9BAF;
  display: block;
}

nav ul li ul li a {
  padding-left: 8%;
}

nav .active {
  background: #237787;
}

nav .parent {
  background: #237787;
}

nav form {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav form input {
  width: 120px;
  margin: 0.5rem 0;
  padding: 0.8rem;
  border: none;
  float: right;
}

nav form #search {
  float: right;
  border: none;
  margin-left: -1px;
  cursor: pointer;
}

@media only screen and (min-width: 970px) {
  nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav ul.closed {
    display: block;
  }
  nav form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav form #search {
    display: block;
  }
  nav button {
    display: none;
  }
  nav ul {
    margin-left: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav ul.menu {
    display: block;
    width: 100%;
    font-size: 1.4rem;
  }
  nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: -5px;
  }
  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1.25rem 1rem;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
    -webkit-transition: background 0.3s linear;
  }
  nav ul li a:hover {
    background-color: #237787;
  }
  nav ul li ul {
    left: -999em;
    z-index: 99;
    background-color: #2E9BAF;
    position: absolute;
    width: 17.3rem;
  }
  nav ul li:hover ul {
    left: auto;
    margin-left: 0;
  }
  nav ul li ul li {
    float: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    display: block;
  }
}

.mySlider {
  width: 100%;
}

.mySlider img {
  width: 100%;
}

.blog {
  margin-top: 2rem;
}

.blog h2 {
  padding: 0 2rem;
}

.blog .articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog .articles .article {
  height: 20rem;
  width: 20rem;
  margin: auto;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog .articles .article .articleTitle {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  text-align: center;
  color: white;
}

.blog .articles .article .date {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.5rem;
  text-align: center;
  color: white;
}

.blog .articles .dining {
  background-image: url(../images/blogPics/cabotDining1.png);
  background-position: right;
  opacity: 75%;
  -webkit-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
}

.blog .articles .beach {
  background-image: url(../images/blogPics/cabotBeaches1.png);
  background-position: right;
  opacity: 75%;
  -webkit-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
}

.blog .articles .slide {
  background-image: url(../images/blogPics/cabotWaterSlide1.png);
  background-position: left;
  opacity: 75%;
  -webkit-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
}

.blog .articles .para {
  background-image: url(../images/blogPics/cabotParagliding1.png);
  background-position: top right;
  opacity: 75%;
  -webkit-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
}

.blog .articles .para:hover {
  opacity: 100%;
}

.blog .articles .dining:hover {
  opacity: 100%;
}

.blog .articles .beach:hover {
  opacity: 100%;
}

.blog .articles .slide:hover {
  opacity: 100%;
}

footer {
  background-color: #2E9BAF;
  margin: 2rem -2000px;
  padding: 0px 2000px;
  color: white;
}

footer .footWrapper {
  margin-top: 2rem;
  padding: 0 2rem;
}

footer .footWrapper .contact {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1rem .5rem;
}

footer .footWrapper .news {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1rem .5rem;
}

footer .footWrapper .why {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1rem .5rem;
}

footer .footWrapper a {
  text-decoration: none;
  color: white;
}

footer input {
  margin: 0.5rem 0;
  padding: 0.8rem 0;
  width: 18rem;
  border: none;
}

footer button {
  display: block;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  width: 18rem;
  border-radius: 20px;
  padding: 0.5rem;
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  footer .footWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials a {
  padding: 1rem;
  cursor: pointer;
}

.socials a:nth-child(1):hover {
  color: #1877F2;
}

.socials a:nth-child(2):hover {
  color: #FF0000;
}

.socials a:nth-child(3):hover {
  color: #CA436E;
}

.socials a:nth-child(4):hover {
  color: #E6001A;
}

.socials a:nth-child(5):hover {
  color: #1DA1F2;
}

.myInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.cruises h1 {
  padding: 0 2rem;
}

.cruises .cruise .img {
  padding: 0.5rem;
}

.cruises .cruise .img img {
  width: 100%;
  max-width: 60rem;
}

.cruises .cruise .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

.cruises .cruise .desc button {
  margin: 1rem auto;
  width: 90%;
  padding: 1rem;
  border: none;
  border-radius: 20px;
}

@media only screen and (min-width: 600px) {
  .cruises .cruise {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cruises .cruise .img {
    padding: 0.5rem;
  }
  .cruises .cruise .img img {
    width: 350px;
    height: 150px;
  }
  .cruises .cruise .desc {
    display: block;
  }
  .cruises .cruise .desc button {
    float: right;
    -ms-flex-item-align: baseline;
        align-self: baseline;
    width: 12rem;
    padding: 1rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #2E9BAF;
    color: white;
  }
  .cruises .cruise .desc button:hover {
    background-color: #237787;
  }
}

h1 {
  margin: 1rem;
}

.agentImg {
  width: 100%;
}

.agentImg img {
  width: 100%;
}

.agentInfo {
  padding: 10px;
}

.agentInfo .agentInfoBold {
  font-weight: 700;
  margin-top: 10px;
  color: #2E9BAF;
}

@media only screen and (min-width: 600px) {
  .agentImg img {
    float: right;
    width: 32rem;
    height: 30rem;
  }
}

.formContainer {
  padding: 0.5rem;
}

.formContainer h1 {
  margin: 1rem;
}

.formContainer label {
  color: #2E9BAF;
}

.formContainer input {
  width: 100%;
  height: 4rem;
}

.formContainer select {
  width: 100%;
  height: 4rem;
}

.formContainer span {
  color: #2E9BAF;
}

.formContainer button {
  margin: 1rem auto;
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 20px;
  background-color: #2E9BAF;
  color: white;
}

.formContainer button:hover {
  background-color: #237787;
}

@media only screen and (min-width: 600px) {
  .formContainer input {
    width: 50rem;
  }
  .formContainer select {
    width: 50rem;
  }
  .formContainer button {
    width: 50rem;
  }
}

.search {
  padding: 0 2rem;
}

.search h1 {
  margin: 0.8rem 0;
}

.search h2 {
  color: #2E9BAF;
}

.search a {
  text-decoration: none;
  color: white;
  background: #2E9BAF;
  border: none;
  border-radius: 10px;
  padding: 0.8rem;
  float: right;
  margin-top: 1.5rem 0;
}

.destinations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.destinations figure {
  -webkit-box-flex: 45%;
      -ms-flex: 45%;
          flex: 45%;
  max-width: 45%;
  padding: 0 4px;
  text-align: center;
}

.destinations img {
  vertical-align: middle;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .destinations figure {
    -webkit-box-flex: 30%;
        -ms-flex: 30%;
            flex: 30%;
    max-width: 30%;
  }
}

@media only screen and (min-width: 800px) {
  .destinations figure {
    -webkit-box-flex: 20%;
        -ms-flex: 20%;
            flex: 20%;
    max-width: 20%;
  }
}

.about {
  padding: 2rem 0.8rem;
}

.about h2 {
  color: #2E9BAF;
  margin-top: 1rem;
}

@media only screen and (min-width: 600px) {
  .about {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 40px;
            column-gap: 40px;
    -webkit-column-rule-style: solid;
            column-rule-style: solid;
    -webkit-column-rule-width: 1px;
            column-rule-width: 1px;
  }
}

@media only screen and (min-width: 800px) {
  .about {
    -webkit-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 40px;
            column-gap: 40px;
    -webkit-column-rule-style: solid;
            column-rule-style: solid;
    -webkit-column-rule-width: 1px;
            column-rule-width: 1px;
  }
}

.location {
  padding: 0.8rem;
}

.location span {
  color: #2E9BAF;
}

.location iframe {
  margin-top: 1rem;
  width: 100%;
  height: 60rem;
}

@media only screen and (min-width: 600px) {
  .location iframe {
    height: 40rem;
  }
}

.serviceArea img {
  width: 100%;
  height: auto;
  margin: 1rem;
}

.wpcf7 {
  margin: 0 1rem;
}

.wpcf7 .wpcf7-text, .wpcf7 .wpcf7-textarea {
  font-size: 2rem;
  color: #2e9baf;
  padding: .65rem .5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid #999;
  width: 75%;
}

.wpcf7 .wpcf7-submit {
  border: none;
  border-radius: 2rem;
  font-size: 2rem;
  background-color: #2e9baf;
  color: white;
  padding: 1rem 2rem;
  cursor: pointer;
}

.wpcf7 .wpcf7-response-output {
  color: green;
}

.wpcf7 .screen-reader-response {
  display: none;
}

.wpcf7 .wpcf7-not-valid-tip {
  color: red;
  display: block;
  margin: -5px 0 10px 0;
}

.news-content {
  padding: 0.8rem;
}

.news-content a, .news-content a:link, .news-content a:visited, .news-content a:focus, .news-content a:hover, .news-content a:active {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.news-content .date-post {
  background-color: #2E9BAF;
  float: left;
  margin: 0 1rem;
  padding: 1rem;
}

.news-content .date-post h2 {
  color: white;
  margin: 0;
  text-align: center;
}

.news-content .date-post p {
  color: white;
}

.news-content .post-content-text {
  margin-left: 10rem;
  padding: 1rem;
}

.news-content .post-content-text h3.news-title {
  font-size: 2rem;
  color: black;
}

.news-content .post-content-text .news-content-excerpt {
  margin-bottom: 1rem;
}

.news-content .post-content-text .news-content-excerpt .news-short-content {
  padding: 1rem 0;
}

.news-content a.news-more-link {
  color: #2E9BAF;
  cursor: pointer;
}

.news_pagination {
  text-align: center;
}

.news_pagination .page-numbers {
  text-decoration: none;
  color: black;
}

.news_pagination .page-numbers .current span {
  color: red;
}

.newsImg {
  height: auto;
  width: 100%;
}

.newsContainer {
  padding: 0 0.8rem;
}

.newsContainer p {
  margin-bottom: 4rem;
}

@media only screen and (min-width: 620px) {
  .newsImg {
    float: right;
    width: 30rem;
    height: 20rem;
    padding: 2rem;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
  width: 100%;
  font-family: 'Arimo', Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 96rem;
}
/*# sourceMappingURL=style.css.map */